<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="hackveda.devanshu.travelapp">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
	
		<activity
			android:label=""
			android:name=".activity.ScreenActivity"
			android:theme="@style/ScreenActivityTheme">
		
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER"/>
			
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
	
		<activity
			android:label=""
			android:name=".activity.ScreenTwoActivity"
			android:theme="@style/ScreenTwoActivityTheme">
		
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER"/>
			
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
	
		<activity
			android:label=""
			android:name=".activity.ScreenThreeActivity"
			android:theme="@style/ScreenThreeActivityTheme">
		
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER"/>
			
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
	</application>
</manifest>